@use "../util" as *;

.header {
  display: flex;
  justify-content: space-between;
  margin-top: rem(35);

  @include breakpoint(large) {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__logo {
    width: 30%;
    margin-left: rem(30);

    @include breakpoint(medium) {
      width: 14%;
    }

    @include breakpoint(large) {
      width: 7%;
      margin: 0 rem(60);
    }
  }

  &__bag {
    background: url("../images/svg/bag.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 7%;
    margin-right: rem(30);
    cursor: pointer;

    @include breakpoint(large) {
      width: 4%;
    }

    &--count {
      position: relative;
      font-size: rem(12);
      top: rem(9);
      left: rem(9);
      font-family: var(--font-open-sans);
      font-weight: 600;
      text-decoration: none;

      @include breakpoint(medium) {
        left: rem(7);
        top: rem(7);
      }

      @include breakpoint(large) {
        font-size: rem(14);
        top: rem(12);
        left: rem(10);
      }
    }
  }
}
